<%
const param = {
  title: 'TOP',
  path: './'
}
%>
<%- include(`${param.path}@include/_header`, {param: param}) %>
<body>
  <main class="main" id="main">
    <div class="wrapper">
      <ol class="list">
        <% cards.forEach((card) => { %>
        <li class="list__item" data-match-height="card">
          <section class="card">
            <div class="card__header">
              <div class="card__img">
                <img src="./assets/img/<%- card.image %>" alt="">
              </div>
            </div>
            <div class="card__body">
              <% const randomCardTitle = 1 + Math.floor(Math.random() * 3) %>
              <h2 class="card__title">
                <% for (let i = 0; i < randomCardTitle; i++) { %>
                  <%- card.title %><br>
                <% } %>
              </h2>
              <div class="card__text">
                <p>
                  <% const randomCardText = 1 + Math.floor(Math.random() * 20) %>
                  <% for (let i = 0; i < randomCardText; i++) { %>
                    <%- card.text %>
                  <% } %>
                </p>
              </div>
            </div>
            <div class="card__footer">
              <a class="button" href="<%- card.link %>">ボタン</a>
            </div>
          </section>
        </li>
        <% }) %>
      </ol>
    </div>

  </main>
</body>
<%- include(`${param.path}@include/_footer`, {param: param}) %>
